.title{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-control{
    display: block;
    width: 35%;
    margin: auto;
    height: 50px;
    border-radius: 5px;
    padding: 0 4px;
    font-size: 30px;
}

.btn-submit{
    background-color: red;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    display: block;
    margin: auto;
    margin-top: 20px;
}

.result{
    font-size: 25px;
    color: darkblue;
}